:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:focus {
  color: var(--ocean);
}

address {
  font-style: normal;
}

ul {
  list-style: none;
}

.primary-heading {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.secondary-heading {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--navy-blue);
}

.heading-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  text-align: left;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
}

.logo {
  font-family: var(--second-family);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-dark-accent {
  color: var(--navy-blue);
}

.logo-light-accent {
  color: var(--cloud);
}

.navigation-menu-item-link {
  font-weight: 500;
  color: var(--navy-blue);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--cornflower);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--cloud);
  color: var(--iris);
  padding: 12px 24px;
}

.button:hover,
.button:focus {
  background-color: var(--ocean);
  color: var(--white);
}

.hero-section {
  background-color: var(--navy-blue);
}

.hero-section-heading {
  color: var(--white);
}

.primary-button {
  color: var(--white);
  border-radius: 4px;
  padding: 16px 32px;
  background-color: var(--iris);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: var(--navy-blue);
  color: var(--cloud);
}
